{{!-- Document Settings --}}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{{!-- Base Meta --}}
<title>{{meta_title}}</title>
<link rel="shortcut icon" href="{{asset "images/favicon.ico"}}">

{{!-- Styles'n'Scripts --}}
<link rel="stylesheet" type="text/css" href="{{asset "css/app.min.css"}}">

{{!-- This tag outputs SEO meta+structured data and other important settings --}}
{{ghost_head}}
