{{!-- Document Settings --}}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{{!-- Base Meta --}}
<title>{{meta_title}}</title>

{{!-- Styles'n'Scripts --}}
<style type="text/css">
  {{> styles-app}}
</style>

{{!-- This tag outputs SEO meta+structured data and other important settings --}}
{{ghost_head}}
