<article class="posts__post masonry-item">
  <a class="posts__link" href="{{url}}">
    {{#if feature_image}}
      <figure class="posts__img">
        <img class="wow" src="{{feature_image}}"/>
      </figure>
    {{/if}}
    <div class="posts__content">
      <p class="posts__text"><strong>{{title}}</strong> — {{excerpt words="35"}}</p>
    </div>
  </a>
</article>
