<ul class="footer__social">
  {{#if @blog.facebook}}
    <li><a href="{{facebook_url}}" target="_blank"><i class="icon-facebook"></i></a></li>
  {{/if}}
  {{#if @blog.twitter}}
    <li><a href="{{twitter_url}}" target="_blank"><i class="icon-twitter"></i></a></li>
  {{/if}}
  <li><a href="" target="_blank"><i class="icon-linkedin"></i></a></li>
  <li><a href="" target="_blank"><i class="icon-instagram"></i></a></li>
  <li><a href="" target="_blank"><i class="icon-github"></i></a></li>
  <li><a href="" target="_blank"><i class="icon-codepen"></i></a></li>
</ul>
