{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- Everything inside the #author tags pulls data from the author --}}
{{#author}}
  <section class="mast section-padding--double">
    <div class="grid-small">
      <h2>{{name}}</h2>
      {{#if bio}}
        <p class="mast__text">{{bio}}</p>
      {{/if}}
    </div>
  </section>
{{/author}}

<div class="section-padding--none">
  <div class="grid-large">
    <hr class="sep"/>
  </div>
</div>

{{!-- The main content area --}}
<section class="posts">
  <div class="grid-xlarge">
    <div class="posts__container" data-columns>

      {{#foreach posts}}

        {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
        {{> post-card}}

      {{/foreach}}
    </div>
  </div>

  {{pagination}}
</section>
