<!DOCTYPE html>
<html>
<head>

  {{> "head"}}

</head>
<body class="{{body_class}}">

  {{!-- Header --}}
  {{> "header"}}

  {{!-- Main --}}
  <main role="main" class="💈">

    {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
    {{{body}}}

  </main>

  {{!-- Footer --}}
  {{> "footer"}}

</body>
</html>
