{{!--
This error template is used for all 400/500 errors, except 404, which might occur on your site.
It's a good idea to keep this template as minimal as possible in terms of both file size and complexity.
You'll notice that we *don't* use any JavsScript, or ghost_head / ghost_foot in this file.
--}}

<!DOCTYPE html>
<html lang="en">
<head>

  {{> "head"}}

</head>
<body class="{{body_class}}">

  {{> "header"}}

  <main class="💈">

    <section class="mast section-padding--double">
      <div class="grid-small">
        <h2>{{code}}</h2>
        <p class="mast__text">The server had an error.</p>
      </div>
    </section>

  </main>

  {{> "footer"}}

</body>
</html>
