{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<section class="contact">
  <div class="contact__img">
    <figure class="absolute-bg" style="background-image: url('{{feature_image}}');"></figure>
  </div>
  <div>
    <div class="contact__mast section-padding--half">
      <div class="grid">
        <h2>{{title}}</h2>
      </div>
    </div>

    <div class="section-padding--none">
      <hr class="sep"/>
    </div>

    <div class="contact__form section-padding--half">
      <div class="grid-xlarge">
        <div class="contact__text">
          {{content}}
        </div>
        {{> formspree}}
      </div>
    </div>
  </div>
</section>

{{/post}}
