{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<section class="post {{post_class}}">
  <div>
    <div class="post__header section-padding--double">
      <div class="grid-small">
        <h2>{{title}}</h2>
      </div>
    </div>

    {{#if feature_image}}
      <div class="post__img">
        <div>
          <figure class="absolute-bg" style="background-image: url('{{feature_image}}');"></figure>
        </div>
      </div>
    {{/if}}

    <div class="post__content section-padding">
      <div class="grid-small">
        {{content}}
      </div>
    </div>
  </div>
</section>

{{/post}}
