//----------------------------------------------
// Posts
//---------------------------------------------- 
.posts {
  padding: 4em 1em 2em;

  @media (min-width: $mq-small) {
    padding: {
      top: 6em;
      right: 2em;
      left: 2em;
    }
  }

  @media (min-width: $mq-med) {
    padding: {
      right: 1em;
      left: 1em;
    }
  }

  @media (min-width: $mq-xlarge) {
    padding: {
      top: 8em;
      bottom: 4em;
    }
  }

  &__container {
    @include flex-grid(1, 1, 2, 2, 3, $pad: 1em);
  }

  &__post {
    padding: {
      top: 2em;
      bottom: 2em;
    }

    @media (min-width: $mq-small) {
      padding: {
        top: 4em;
        bottom: 4em;
      }
    }

    &:nth-child(1) {
      padding-top: 0;
    }

    &:nth-child(2) {

      @media (min-width: $mq-med) {
        padding-top: 0;
      }
    }

    &:nth-child(3) {

      @media (min-width: $mq-xlarge) {
        padding-top: 0;
      }
    }
  }

  &__link {
    display: block;

    color: $color-black;

    &:hover {

      .posts__img {
        transform: translate3d(0, -10px, 0);
      }
    }
  }

  &__img {
    background-color: $color-lightgrey;
    transition: transform 400ms ease-in-out;

    img {
      display: block;

      animation: fade-in ease-in-out 600ms both;
    }
  }

  &__content {
    padding-top: 1.25em;    
  }

  &__text {
    margin-bottom: 0;

    font-size: 1.1em;
  }
}
