//----------------------------------------------
// Post
//---------------------------------------------- 
.post {

  .amp-template & {
    background-color: $color-white;
  }

  &__header {
    @extend %text-center;

    border-bottom: $border;
  }

  &__date {
    @extend %font-header;

    display: block;
    margin-top: 0.25em;

    font-size: $font-xsmall;
  }

  &__img {
    height: 18em;
    padding: 1em;

    @media (min-width: $mq-small) {
      height: 36em;
      padding: 2em;
    }

    @media (min-width: $mq-med) {
      height: calc(100vh - 3em);
      min-height: 36em;
    }

    & > * {
      position: relative;

      height: 100%;
      width: 100%;

      background-color: $color-lightgrey;
    }
  }

  &__content {
    border-top: $border;

    img[src$="#full"] {
      width: 100vw;
      max-width: none;
    }
  }

  &__social {
    @extend %flex-center;
    @extend %no-list-style;
      
    margin: {
      top: 2em;
      bottom: 0;
      left: 0;
    }

    & > * {

      &:not(:last-child) {
        margin-right: 0.75em;
      }
    }

    a {
      font-size: 1.1em;
      color: $color-darkgrey;
    }
  }

  &__author {
    @extend %font-header;

    display: block;

    a {
      color: $color-black;
      transition: color 200ms ease-in-out;

      &:hover,
      &:active,
      &:focus {
        color: darken($color-black, 5);
      }
    }
  }

  &__bio {
    margin-bottom: 0;
  }

  &__comments {
    border-top: $border;
  }
}

//----------------------------------------------
// Ghost
//---------------------------------------------- 
.kg-card-markdown {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > * {
    min-width: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h1 {
    margin-bottom: 0.35em;

    font-size: 2em;
    line-height: 1.2;
  }

  h2 {
    margin-bottom: 0.35em;

    font-size: 1.5em;
    line-height: 1.2;
  }

  h3 {
    margin-bottom: 0.35em;

    font-size: 1.25em;
    line-height: 1.3;
  }

  h4 {
    margin-bottom: 0.5em;

    font-size: 1.1em;
    line-height: 1.3;
  }

  h5 {
    margin-bottom: 0.5em;

    font-size: 1em;
    line-height: 1.4;
  }

  h6 {
    margin-bottom: 0.75em;

    font-size: $font-small;
  }

  a {
    color: $color-black;
    border-bottom: 2px solid $color-grey;
    box-shadow: inset 0 -3px 0 $color-grey;
  }

  hr {
    height: 1px;
    width: 100%;
    margin: {
      top: 0.75em;
      bottom: 1.5em;
    }

    border: 0;
    background-color: rgba($color-black, 0.1);
  }

  img, iframe {
    display: block;
    margin: {
      top: 0.5em;
      bottom: 0.5em;
    }
  }
}
