//----------------------------------------------
// Posts
//---------------------------------------------- 
.posts {

  &__container {
    @include flex-grid(1, 1, 2, 3, $pad: 1em);
  }

  &__post {

  }

  &__link {
    display: block;

    color: $color-black;

    &:hover {

      .posts__img {
        transform: translate3d(0, -10px, 0);
      }
    }
  }

  &__img {
    background-color: $color-grey;
    transition: transform 400ms ease-in-out;

    img {
      display: block;
    }
  }

  &__content {
    padding: {
      top: 1em;
      bottom: 1em;
    }
  }

  &__text {
    margin-bottom: 0;
  }
}
