//----------------------------------------------
// Mast
//---------------------------------------------- 
.related {
  border-top: $border;
  background-color: $color-lightgrey;

  &__title {
    @extend %text-center;
  }

  &__container {
    @include flex-grid(1, 1, 3, $pad: 1em);

    align-items: center;
    margin-top: 2em;
  }

  &__post {

    @media (min-width: $mq-med) {
      padding-bottom: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__link {
    @extend .posts__link;

    &:hover {

      .related__img {
        transform: translate3d(0, -10px, 0);
      }
    }
  }

  &__img {
    @extend .posts__img;
  }

  &__content {
    @extend .posts__content;
  }

  &__text {
    @extend .posts__text;
    @extend %font-header;
    @extend %text-center;
  }
}
