//----------------------------------------------
// Footer
//---------------------------------------------- 
.footer {
  padding-top: 2em;

  border-top: 1px solid rgba($color-black, 0.1);

  &__container {
    margin-top: 3em;
  }

  &__text {
    @extend %text-center;

    margin-bottom: 2em;
  }

  &__tags {
    @extend %flex-center;
    @extend %no-list-style;

    & > *:not(:last-child) {
      margin-right: 1em;
    }
  }

  &__link {
    font-size: $font-small;
    color: $color-grey;
    transition: color 200ms ease-in-out;

    &:hover,
    &:active,
    &:focus {
      color: $color-black;
    }
  }
}

//----------------------------------------------
// Flex based sticky footer
//---------------------------------------------- 
// body {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;
// }

main {
  // flex-grow: 1;

  .home-template &,
  .tag-template &,
  .author-template &,
  .post-template & {
    margin-top: $header-height;
  }
}
