//----------------------------------------------
// Text Center
//----------------------------------------------
%font-header {
  font-family: $font-header;
  font-weight: 500;
}

//----------------------------------------------
// Letter Spacing
//----------------------------------------------
%letter-spacing {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

//----------------------------------------------
// Text Center
//----------------------------------------------
%text-center {
  text-align: center;
}
